{% if page.lang == 'tr' %}
  {% assign source_data = site.data.skills_tr %}
{% else %}
  {% assign source_data = site.data.skills_en %}
{% endif %}

<div class="robust-grid-container">
  {% for category in source_data %}
  <div class="feature__item">
    <div class="archive__item">
      <div class="archive__item-teaser">
        <i class="{{ category[1].icon }} fa-3x"></i>
      </div>
      <div class="archive__item-body">
        <h3 class="archive__item-title">{{ category[1].title }}</h3>
        <div style="text-align: center;">
          {% for item in category[1].items %}
            <span class="skill-tag">
              {{ item }}
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>